$first-breakpoint: 1200px;
$second-breakpoint: 992px;
$third-breakpoint: 768px;
$fourth-breakpoint: 600px;

.default-layout-wrapper {
    width: 70vw;
    display: flex;
    flex-direction: column;
    gap: 15vh;
}

@media (max-width: $fourth-breakpoint) {
    .default-layout-wrapper {
        width: 90vw;
    }
}
