$font-color: #42446e;
$linear-from: #13b0f5;
$linear-to: #e70faa;

.about-section-waving-hand {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
    margin-left: 10px;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(14deg);
    }
    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }
    40% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.about-section-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    //margin-top: 200px;
}

.about-section-name {
    background: linear-gradient(to right, $linear-from, $linear-to);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.about-section-description {
    color: $font-color;
    font-size: 58px;
    width: 50%;
}

.about-section-profile-photo-wrapper {
    display: inline-block;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    padding: 8px;
    background: linear-gradient(to right, $linear-from, $linear-to);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-section-profile-photo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
